* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #131314;
  /* background-color: #37474F; */
}

.sidebar {
  background-color: #1E1F20;
  height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out;
}

.expanded {
  width: 250px;
}

.collapsed {
  width: 60px;
  align-items: center;
}

.menu {
  height: 40px;
  width: 40px;
  color: white;
}

.main-body {
  /* color: white; */
  height: 100%;
}

.gemini {
  max-width: 900px;
  justify-content: space-between;
}

.user {
  background: -webkit-linear-gradient(#d8488d, #6048d8, #34a1c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pt-2 {
  color: #444746;
}

.card {
  height: 210px;
  width: 210px;
  padding: 10px;
  border-radius: 10px;
  background-color: #212223;
}

.active {
  background-color: #3B4456;
}

.card:hover {
  background-color: #333537;
}

.card p {
  font-size: 1.2rem;
}

.prompt {
  border-radius: 30px;
  background-color: #333537;
  padding: 15px 25px;
}

.prompt input {
  background: transparent;
  outline: none;
}

.ic {
  font-size: 1.3rem;
}

.hide {
  display: none;
}

.block {
  display: block;

}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.result::-webkit-scrollbar {
  display: none;
}

.history::-webkit-scrollbar {
  display: none;
}

.res ul {
  list-style: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #B2BABB;

}

.res h1, .res h2, .res h3, .res h4 , .res h5, .res h6 {
  font-size: xx-large;
  color: #B2BABB;
}

.res p{
  color: #DCDCDC;
}
.res li{
  color: #B2BABB;
}

.res strong {
  font-size: 1.2rem;
}

.res li strong {
  color: #D5DBDB;
}

.res p strong {
  text-decoration: underline;
  color: #D0D3D4;
}



@media screen and (max-width : 1000px) {
  .main-body {
    width: 600px;
  }

  .gemini {
    max-width: 600px;
  }

  .greet,
  .ideas,
  .prompt {
    width: 100%;
  }

  .ideas {
    overflow-x: scroll;
  }

  .ideas::-webkit-scrollbar {
    display: none;
  }

  .prompt {
    justify-content: space-between !important;
  }
}

@media screen and (max-width : 660px) {
  .main-body {
    width: 300px;
  }

  .gemini {
    width: 100%;
    gap: 1rem;
  }

  .card {
    min-width: 210px;
  }

  .ideas {
    overflow-x: scroll;
  }

  .ideas::-webkit-scrollbar {
    display: none;
  }

  .greet h1 {
    text-wrap: wrap;
  }
}

@media screen and (max-width : 450px) {
  .sidebar {
    display: none;
  }
  .main-body{
    max-height: fit-content;
  }
  main{
    overflow-x: scroll;
  }
  main::-webkit-scrollbar{
    display: none;
  }
}